.wrapper {
    margin: 0 10vw;
    width: 80vw;
}

.u-margin-bottom-sm { margin-bottom: 1rem; }
.u-margin-bottom-md { margin-bottom: 2.5rem; }
.u-margin-bottom-lg { margin-bottom: 4rem; }

// @media screen and (max-wdith: 900px; ) {

// }